{
  "extends": "airbnb",
  "env": {
    "browser": true
  },
  "plugins": [
    "babel"
  ],
  "rules": {
    "react/no-unused-prop-types": ["error", { skipShapeProps: true }]
  },
  "settings": {
    "import/resolver": "webpack",
    "import/core-modules": [
      'react',
      'react-dom',
      'react-intl',
      'react-redux',
      'react-router',
      'react-router-redux',
      'redux',
      'superagent'
    ]
  }
}
